.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #000000;
  z-index: 100;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.navigation-links-text1 {
  color: #000000;
  z-index: 100;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.15;
  margin-left: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.navigation-links-text2 {
  color: #000000;
  z-index: 100;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.15;
  margin-left: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.navigation-links-text3 {
  color: #000000;
  z-index: 100;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.15;
  margin-left: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.navigation-links-text4 {
  color: #000000;
  z-index: 100;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.15;
  margin-left: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
}
