.frame-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame-frame {
  width: 100%;
  height: 816px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame-atlanta-background {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 812px;
  position: absolute;
  object-fit: cover;
  border-width: 1px;
}
.frame-frame1 {
  top: 153px;
  left: 0px;
  width: 100%;
  height: 578px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-title {
  top: 78px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 512px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Arial;
  font-weight: 100;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-container1 {
  top: 144px;
  left: 0px;
  right: 0px;
  width: 430px;
  height: 296px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame-userpassbox {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 296px;
  position: absolute;
  border-radius: 10px;
}
.frame-passbox {
  left: 40px;
  width: 350px;
  bottom: 102px;
  height: 39px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.frame-userbox {
  top: 68px;
  left: 40px;
  width: 350px;
  height: 39px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.frame-text {
  top: 75px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 269px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-loginbox {
  left: 40px;
  width: 350px;
  bottom: 40px;
  height: 42px;
  position: absolute;
  border-radius: 5px;
}
.frame-user {
  top: 40px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-poass {
  top: 127px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-login {
  left: 195px;
  color: rgba(255, 255, 255, 1);
  width: 39px;
  bottom: 53px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text5 {
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 269px;
  bottom: 111px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .frame-frame1 {
    top: -3px;
    left: -4px;
  }
  .frame-title {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 25px;
    font-family: Arial;
    font-weight: 100;
    line-height: normal;
    text-decoration: none;
  }
  .frame-container1 {
    width: 250px;
    height: 260px;
  }
  .frame-userpassbox {
    width: 252px;
    height: 289px;
  }
  .frame-passbox {
    top: 154px;
    left: 40px;
    width: 173px;
  }
  .frame-userbox {
    width: 173px;
  }
  .frame-text {
    width: 50%;
  }
  .frame-loginbox {
    left: 42px;
    width: 173px;
    bottom: 6px;
  }
  .frame-login {
    left: 109px;
    bottom: 16px;
  }
  .frame-text5 {
    top: 160px;
    left: 49px;
    width: 50%;
  }
}
