<div>
  <link href="./article-card.css" rel="stylesheet" />
  <div class="article-card-container">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1569546387293-ea14d293ce82?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEzfHxwb25jZSUyMGNpdHklMjBtYXJrZXR8ZW58MHx8fHwxNjg3MjY3OTU1fDA&ixlib=rb-4.0.3&w=1400"
      class="article-card-image"
    />
    <div class="article-card-container1">
      <h3 class="article-card-text Healine"><span>Ponce City Market</span></h3>
      <div class="article-card-container2">
        <span class="article-card-text1">
          <span>
            The construction at Ponce City Market showcases a harmonious blend
            of historical preservation and modern design, preserving the
            building's architectural heritage while incorporating contemporary
            elements.
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
