.component-container {
  width: 366px;
  height: 19px;
  display: flex;
  position: relative;
  align-items: center;
}
.component-text {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 47px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  align-content: center;
  text-decoration: none;
}
.component-text2 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  align-content: center;
  text-decoration: none;
}
.component-text4 {
  top: 0px;
  left: 172px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  align-content: center;
  text-decoration: none;
}
.component-text6 {
  top: 0px;
  left: 78px;
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  align-content: center;
  text-decoration: none;
}
.component-root-class-name {
  top: 21px;
  flex: 1;
  right: 0px;
  position: static;
  align-self: center;
}
@media(max-width: 1600px) {
  .component-text {
    top: 0px;
    left: 0px;
  }
  .component-text4 {
    top: 0px;
    left: 172px;
  }
  .component-text6 {
    top: 0px;
    left: 78px;
  }
}
