<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-container1">
      <div class="footer-container2">
        <div class="footer-container3">
          <span class="footer-text TextXS">USEFUL LINK</span>
          <span class="footer-text01 TextSM">About Us</span>
          <span class="footer-text02 TextSM">Projects</span>
          <span class="footer-text03 TextSM">Careers</span>
          <span class="footer-text04 TextSM">News</span>
        </div>
        <div class="footer-container4">
          <span class="footer-text05 TextXS">OTHER RESOURCES</span>
          <span class="footer-text06 TextSM">License</span>
          <span class="footer-text07 TextSM">Terms &amp; Conditions</span>
          <span class="footer-text08 TextSM">Privacy Policy</span>
          <span class="footer-text09 TextSM">Contact Us</span>
        </div>
      </div>
    </div>
    <div class="footer-container5"></div>
    <span class="footer-text10 TextSM">
      Copyright © 2013 Meridian-IS LLC, all rights reserved
    </span>
  </div>
</div>
